$white: #ffffff;
$white-darker: #e1e1e1;
$black: #000000;
$main: #142536;
$main-light: #22374b;
$blue: #5a88c1;
$blue-darker: #405265;
$grey: #6d7278;
$grey-light: #f4f4f6;

$desktop-width: 1300px;

// FONTS
$sourceSansPro: "SourceSansPro", Arial, sans-serif;
